include *.txt
include *.md 
include *.py
recursive-include ./deeplearnin_package/*

include deeplearnin_package/datasets/*.csv
include deeplearnin_package/saved_model/*.pkl
include deeplearnin_package/prediction_preprocessing/*.py
incude deeplearnin_package/VERSION
include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]